<div class="background-image mt-5">
  <div class="container ">
    <div class="content">
      <h2>Detalles del Post</h2>

      <div class="vehicle-slideshow swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let image of listPictures">
            <img class="vehicle-image" [src]="image" alt="Vehicle Image">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">¿Está seguro de eliminar el post para el siguiente vehículo?</h3>
          <h5 class="card-text">{{ post.vehicle.brand }} {{ post.vehicle.model }}</h5>
          <p class="card-text">Potencia: {{ post.vehicle.power }} CV</p>
          <p class="card-text">Kilometraje: {{ post.vehicle.mileage }} KM</p>
          <p class="card-text">Tipo de Vehículo: {{ post.vehicle.type.name }}</p>
          <p class="card-text">Fecha de Matriculación: {{ post.vehicle.age}}</p>
          <p class="card-text">Dueño: {{ post.vehicle.owner.name }} {{ post.vehicle.owner.surname }}</p>
          <p class="card-text">Combustible: {{ post.vehicle.fuel.name }}</p>
          <p class="card-text">Precio: {{ post.vehicle.price }} €</p>
          <p class="card-text">Comentario: {{ post.comment }}</p>

          <button class="btn btn-danger" (click)="deletePost()">Eliminar</button>
          <button class="btn btn-danger float-end" (click)="goBack()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
