<app-navbar></app-navbar>
<div class="background-image mt-5">
  <div class="container mt-5">
    <h2>Posts</h2>
    <div class="input-group my-3">
      <input type="text" class="form-control" [(ngModel)]="searchText" (input)="filter()" placeholder="Buscar...">
    </div>
    <button class="btn btn-primary" routerLink="createPost">Crear post</button>
    <div class="row">
      <div class="col-md-4" *ngFor="let post of listPost">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ post.vehicle.brand }} {{ post.vehicle.model }}</h5>
            <p class="card-text">{{ post.comment }}</p>
            <div class="d-flex justify-content-between">
              <a *ngIf="user.id === post.vehicle.owner.id" class="btn btn-danger ml-2" [routerLink]="['deletePost/' + post.id]">Eliminar</a>
              <a [routerLink]="['detailPost', post.id]" class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-danger float-end" (click)="goBack()">Volver</button>
    </div>
  </div>
</div>
