<app-navbar></app-navbar>
<div class="container">
  <div class="background-image"></div>
  <div class="content">
    <h2>Detalles de {{ user.name }}</h2>
    <div class="row">
      <div class="col-md-6">
        <label>Nombre:</label>
        <p>{{ user.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Apellido:</label>
        <p>{{ user.surname }}</p>
      </div>
      <div class="col-md-6">
        <label>Teléfono:</label>
        <p>{{ user.phoneNumber }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Email:</label>
        <p>{{ user.mail }}</p>
      </div>
      <div class="col-md-6">
        <label>Rol:</label>
        <p>{{ user.rol.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-danger" [routerLink]="['/administration/users/delete', user.id]">Eliminar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="goBack()">Volver</button>
      </div>
    </div>
  </div>
</div>
