<div class="background-image">
<app-navbar></app-navbar>
  <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 56px);">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <h2>Bienvenido a FindaCar</h2>
        </div>
        <div class="card-body">
          <p>¡Hola, {{user.name}}!</p>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary btn-lg btn-block" routerLink="post">Ver Posts</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary btn-lg btn-block" routerLink="vehicles">Gestionar vehículos</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary btn-lg btn-block" routerLink="vehiclePictures">Añadir Fotos</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary btn-lg btn-block" routerLink="chat">Chat</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary btn-lg btn-block" routerLink="favorites">Favoritos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
