<div class="confirmation-container">
  <div class="confirmation-content">
    <div class="confirmation-image"></div>
    <div class="confirmation-info">
      <p>Nombre: {{ user.name }}</p>
      <p>Apellido: {{ user.surname }}</p>
      <p>Email: {{ user.mail }}</p>
    </div>
    <div class="confirmation-buttons">
      <button class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
      <button class="btn btn-secondary" (click)="goBack()">Cancelar</button>
    </div>
  </div>
</div>
