<div class="background-image">
  <div class="container">
    <div class="content">
      <h2>¿Confirma eliminación de {{ user.name }} {{ user.surname }} ?</h2>
      <div class="row">
        <div class="col-md-6">
          <label>Teléfono:</label>
          <p>{{ user.phoneNumber }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Email:</label>
          <p>{{ user.mail }}</p>
        </div>
        <div class="col-md-6">
          <label>Rol:</label>
          <p>{{ user.rol.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Seguridad:</label>
          <p>{{ user.security }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="goBack()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
