<app-navbar></app-navbar>
<div class="background-image">
  <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 56px);">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Administración</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Usuarios</h5>
                  <p class="card-text">Administrar usuarios</p>
                  <a routerLink="users" class="btn btn-primary">Ir a Usuarios</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tipos de Vehículo</h5>
                  <p class="card-text">Administrar tipos de vehículo</p>
                  <a routerLink="vehicleTypes" class="btn btn-primary">Ir a Tipos de Vehículo</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Combustible</h5>
                  <p class="card-text">Administrar combustibles</p>
                  <a routerLink="fuel" class="btn btn-primary">Ir a Combustible</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Posts</h5>
                  <p class="card-text">Administrar posts</p>
                  <a routerLink="post" class="btn btn-primary">Ir a posts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
