<app-navbar></app-navbar>
<div class="container">
  <div class="background-image"></div>
  <div class="content">
    <h2>Lista de tipos de combustible</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fuel of listFuel">
            <td>{{ fuel.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Crear nuevo tipo de combustible</h2>
    <form [formGroup]="formGroup" (ngSubmit)="createFuel()">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
      <button class="btn btn-danger float-end" (click)="goBack()">Volver</button>
    </form>
  </div>
</div>
