<div class="background-image">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FindaCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto float-end">
        <li class="nav-item ">
          <a class="btn btn-dark" routerLink="/signUp">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="card-body">
    <form [formGroup]="passwordRecoveryForm" (ngSubmit)="recoverPassword()" class="needs-validation">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
        <div class="invalid-feedback"
          *ngIf="passwordRecoveryForm.get('email').hasError('required') && (passwordRecoveryForm.get('email').touched || passwordRecoveryForm.get('email').dirty)">
          Email is required
        </div>
        <div class="invalid-feedback"
          *ngIf="passwordRecoveryForm.get('email').hasError('email') && (passwordRecoveryForm.get('email').touched || passwordRecoveryForm.get('email').dirty)">
          Invalid email
        </div>
      </div>
      <div class="mb-3">
        <label for="security" class="form-label">Pregunta de seguridad</label>
        <input type="text" class="form-control" id="security" formControlName="security" required>
        <div class="invalid-feedback"
          *ngIf="passwordRecoveryForm.get('security').hasError('required') && (passwordRecoveryForm.get('security').touched || passwordRecoveryForm.get('security').dirty)">
          Security Answer is required
        </div>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">Nueva contraseña:</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
        <div class="invalid-feedback"
          *ngIf="passwordRecoveryForm.get('newPassword').hasError('required') && (passwordRecoveryForm.get('newPassword').touched || passwordRecoveryForm.get('newPassword').dirty)">
          New Password is required
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!passwordRecoveryForm.valid">Recover Password</button>
      </div>
    </form>
  </div>
</div>
